 		@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap');
		/*************** fonts ****************/
		@font-face {
            font-family: Gilroy-Regular;
            src: url(../fonts/Gilroy-Regular.ttf);
        }

        @font-face {
            font-family: Gilroy-Medium;
            src: url(../fonts/Gilroy-Medium.ttf);
        }

        @font-face {
            font-family: Gilroy-Light;
            src: url(../fonts/Gilroy-Light.ttf);
        }

        @font-face {
            font-family: Gilroy-Heavy;
            src: url(../fonts/Gilroy-Heavy.ttf);
        }

        @font-face {
            font-family: Gilroy-Bold;
            src: url(../fonts/Gilroy-Bold.ttf);
        }

		/******** calibri fonts **********/
@font-face {
	font-family: 'Conv_calibri';
	src: url('../fonts/calibri.eot');
	src: local('☺'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
			
	       @font-face {
	font-family: 'Calibri-Bold';
	src: url('../fonts/calibrib.eot');
	src: local('☺'), url('../fonts/calibrib.woff') format('woff'), url('../fonts/calibrib.ttf') format('truetype'), url('../fonts/calibrib.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
			
		::selection{
			background:#e2b779;}	

		/***************** fonts end ****************/

		body{
			margin:0; padding:0; font-family:Conv_calibri; font-size:14px;overflow-x:hidden;
			}
		body, html{
			height:100%;}	
			
			a:focus, input[type=submit]:focus {outline:none;}
        strong{
			font-family:Calibri-Bold;}
		ul,li{
			margin:0; padding:0; list-style-type:none;}

		a, a:hover{text-decoration:none;}
		
		/************************/
		
		.preloader{
		  position: fixed;
		  width: 100%;
		  height: 100%;
		  background: #fff;
		  z-index: 9999999;
		  -webkit-transition: all 0.3s ease;
		  transition: all 1s ease;
		}
		.status{
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  margin: auto;
		  width: 143px;
		  height: 105px;
		  z-index: 9;
		}
		.status svg, .status img{
			width:100%; height:auto;
			}
		
		/***********************************************/
		header{
			/*padding-bottom:15px;*/
            -moz-transition:all 0.3s ease-in-out;
            -webkit-transition:all 0.3s ease-in-out;
            transition:all 0.3s ease-in-out;
		}
		.topNav{
			/*font-family: 'Lora', serif; font-style:italic; */color:#000; background:#f5f5f5; margin-bottom:10px;}
		/*.topNav .call{
			font-size:13px;}*/
		
		.topNav .mail{
			font-size:14px;}
		.topNav a{
			color:#000;}
		.topNav .call:hover i, .topNav .mail:hover i, .topNav .call:hover a, .topNav .mail:hover a{
			color:#005c99;
			}
		button.searchIcon{
			background:#242728; color:#fff; border:none; padding:5px 10px;
			}
		button.searchIcon:focus{
			outline:none;}
		input[type="submit"].searchIcon	{
			background: #242728;
    		color: #fff;
    		border: none;
    		padding: 5px 15px;
			display: inline-block;
    		vertical-align: top;
			background:#242728 url(../images/search_icon.png) no-repeat center center;
			}
		.topNav input[type="text"]{
			border:none; background:#242728; color:#fff; padding:0px; width:0px;}
		.topNav input[type="text"]:focus{
			outline:none;}
		.topNav input[type="text"], button.searchIcon{
			display:inline-block; vertical-align:top;}

		.searchField{
			height:31px;}
		.searchField::-webkit-input-placeholder { /* Edge */
  			color: #ccc;
		}
     	.searchField:-ms-input-placeholder { /* Internet Explorer */
 			color: #ccc;
		}
		.searchField::placeholder {
		  color: #ccc;
		}
		.login{
			/*background:#bf842e;*/ text-transform:uppercase; font-style:normal; padding:5px 15px; color:#fff;
			/*border:1px solid transparent;*/ box-sizing:border-box;
			}
		.login:hover{
			/*background:#005c99;*/ border:1px solid #62402b; padding:4px 14px;
			}
		.login a{
			color:#fff;}	
		.login img{
			vertical-align:middle; margin-right:10px;
			}
		.fadeAnim{
			-webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }

		h1{
			font-size:40px; font-weight:normal; line-height:normal;}
		h2{font-size:24px; font-weight:normal; letter-spacing:1px;
			}
		p{
			font-size:14px; margin-bottom:20px; letter-spacing:1px;}
		p:last-child{
			margin-bottom:0px;}

		.brownColor{
			color:#a07628;}
		.aboutPara p{
			line-height:22px;}
		.blackPara p, .blackColor{
			color:#242728;
			}
		.whitePara p, .whitePara h1, .whiteColor{
			color:#fff;}
		#aboutSec .icon{
			width:50px; height:50px; margin:0 auto 5px auto;
			}

		.box .vision{
			background:url(../images/about_icons.png) no-repeat left top;
			}
		/*.box:hover .vision{
			background:url(../images/about_icons.png) no-repeat left bottom;
			}*/
		.box .mission{
			background:url(../images/about_icons.png) no-repeat center top;
			}
		/*.box:hover .mission{
			background:url(../images/about_icons.png) no-repeat center bottom;
			}*/
		.box .ethos{
			background:url(../images/about_icons.png) no-repeat right top;
			}
		/*.box:hover .ethos{
			background:url(../images/about_icons.png) no-repeat right bottom;
			}*/

		.box{
			padding:1.6rem 3rem 2rem 3rem; position:relative; height:100%; border: 1px solid #a07628;}
		@media(min-width:992px){
			.box{
				 min-height:335px;}	
			}	
		a.readMore{
			color:#fff; border-radius:20px; padding:8px 20px; display:inline-block; border:1px solid #fff; position:relative;
			-webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;
			}
		a.readMore:hover{border:1px solid #62402b;}

		.box a.readMore{
			position:absolute; bottom:17px; left:50%; -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); transform:translateX(-50%)		;}

		/*.visionContainer{
			background:url(../images/mission.jpg) no-repeat 600px top;

			}
		.visionContainer:hover{
			background:url(../images/mission.jpg) no-repeat left top;
			background-size:cover;
			}
		.missionContainer{
			background:url(../images/mission.jpg) no-repeat 600px top;
			}
		.missionContainer:hover{
			background:url(../images/mission.jpg) no-repeat left top;
			background-size:cover;
			}
		.ethosContainer{
			background:url(../images/mission.jpg) no-repeat 600px top;
			}
		.ethosContainer:hover{
			background:url(../images/mission.jpg) no-repeat left top;
			background-size:cover;
			}*/
		.box p, .box h2{
			-webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out;
			}
		/*.box:hover p, .box:hover h2{
			color:#fff;}*/
		.whyAlchemyCont{
			position:relative; z-index:2;}
		.shadowNew{box-shadow:0 0rem 1rem rgba(0,0,0,.15);}
		#whyAlchemy{
			position:relative; text-align:right;}
		#whyAlchemy .centerDiv{
			width:100%;
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
			}
		.grayBorder{
			border-bottom:1px solid #bebab3;}

		.plusIcon{
			width:50px; height:50px; line-height:48px; color:#fff; text-align:center; font-size:40px; margin:0 auto; position:relative;
			border:1px solid #fff;
			}
		.plusIcon:hover{
			border:1px solid #62402b;
		    }
		.team a:hover .brownBorder{
			border: 1px solid #a07628;
			}
		.professorInfo p{
			text-align:justify;}
		.professorInfo{
			display:none; max-width:800px;}
		p.borderBottom{
			border-bottom:1px solid #e6ddd1; padding-bottom:10px;}
		.professorInfo.fancybox-content{
			padding:30px 30px 10px 30px;}
		.professorInfo p.borderBottom{
			font-family:Calibri-Bold; text-transform:uppercase;}

		.professorInfo h5{
			font-family:Calibri-Bold; letter-spacing:1px; color:#a07628;}
		.offeringImg{
			background:#000; position:relative;  border:2px solid #fff;}
		.offeringImg img{
			opacity:0.6; filter:alpha(opacity=60); margin:0 auto;}
		/*.offeringImg img:hover{
			opacity:1; filter:alpha(opacity=100);
			}*/
		.offeringImg h5{
			position:absolute; bottom:10px; left:15px; z-index:9; font-family:Calibri-Bold; text-transform:uppercase; font-size:1rem;
			}
		.height_245{
			min-height:350px; position:relative; margin-top:-245px; z-index:-1;}

		.processIcon{
			padding-top:40px;}

		.processIcon .rounded-circle{
			width:95px; height:95px; position:relative; overflow:hidden; z-index:9; margin-bottom:50px;
			display: -ms-flexbox;
			display: -webkit-box;
   			display: flex;
    		-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
			-webkit-box-shadow: 3px 3px 5px #888888;
			box-shadow: 3px 3px 5px #888888;
			/*border:2px solid #bebab3;*/
			/*background-image: linear-gradient(90deg, #666666 0%, #2e2e2e 100%);*/
			/*background-image: linear-gradient(90deg, #c0852f 0%, #e9b160 90%, #e9b160 100%);*/
			}

		.processIcon .rounded-circle span{
			z-index:2; position:relative; margin:auto; /*cursor:pointer; display:block;*/}

		.processIcon .rounded-circle:before{
			    content: '';
				position: absolute;
				display: none;
				width: 0%;
				height: 100%;
				left: 0;
				top: 0;
				background-image: linear-gradient(90deg, #c0852f 0%, #e9b160 90%, #e9b160 100%);
				z-index: 0;
				-moz-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
		.processIcon .rounded-circle:hover:before{
			width:100%;
			/*background-image: linear-gradient(90deg, #666666 0%, #2e2e2e 100%);*/
			}
		.processIcon .rounded-circle svg{
			width:45px; height:auto; margin:auto; fill:#fff;}

		.processIcon .rounded-circle svg.laptop{
			width:55px;}

		.processIcon .rounded-circle svg path, .processIcon .rounded-circle svg polygon, .processIcon .rounded-circle svg rect{
			fill:#212529;}

		.processIcon p{
			font-size:16px; text-transform:uppercase; font-family:Gilroy-Bold;}
		.curveArrow{
			position:absolute; left:23px; top:-25px; z-index:8; width:270px;
			}
		.curveArrow svg{
			width:100%; height:auto; /*fill: linear-gradient(90deg, #c0852f 0%, #e9b160 90%, #e9b160 100%);*/
			}

		footer{
			/*background-image: linear-gradient(90deg, #666666 0%, #2e2e2e 100%);*/
			background-image: linear-gradient(90deg, #242728 0%, #1b1e1f 100%);
			}
		.brownBorderNew{
			border:1px solid #e9b160;
			}
		#banner.mb-5{
			font-family:Calibri-Bold;
            margin-bottom:1.5rem !important;
			}
			
			#banner .slide__img img{
			width:100%; max-width:inherit;
			}
		#teamData h5{
			font-family:Calibri-Bold; text-transform:uppercase; font-size:18px; text-align:center; margin-bottom:20px;}
		#teamData h5 span{
			display:block; font-size:16px;}	
		#teamData img{
			display:block;}
		#teamData .readMore{
			margin:0 auto; display:table;}
		.request_callback, a:not([href]).request_callback, a:not([href]).request_callback:hover{
			width: 150px;
			text-transform:uppercase;
			padding: 5px 10px;
			color: #fff;
			display: inline-block;
			background: #242728;
			text-align: center;
            cursor:pointer;
		}
		
		.request_callback:hover{
			/*background: #a07628;*/
			color:#fff;
			}
		.rightBtn{
			text-align:right; margin-bottom:5px;
			}
        .breadcrumb {
            padding:5px;
            background:#f5f4f3;
            -ms-flex-pack: end!important;
            justify-content: flex-end!important;
            }
            .breadcrumb li {
                padding:0px 5px;
            }
            .breadcrumb li, .breadcrumb li a {
                    color:#a07628;
                }
            .breadcrumb li a:hover {
                    color:#000;
                } 		
						
		/********************** check box *********************************/

				 .checkBox {
				  display: block;
				  position: relative;
				  padding-left: 35px;
				  margin-bottom: 12px;
				  cursor: pointer;
				  font-size: 13px;
				  -webkit-user-select: none;
				  -moz-user-select: none;
				  -ms-user-select: none;
				  user-select: none;
				  color:#ccc;
				}

				/* Hide the browser's default checkbox */
				.checkBox input {
				  position: absolute;
				  opacity: 0;
				  cursor: pointer;
				  height: 0;
				  width: 0;
				}

				/* Create a custom checkbox */
				.checkmark {
				  position: absolute;
				  top: 5px;
				  left: 0;
				  height: 25px;
				  width: 25px;
				  background-color: #fff;
				}

				/* On mouse-over, add a grey background color */
				.checkBox:hover input ~ .checkmark {
				  background-color: #fff;
				}

				/* When the checkbox is checked, add a blue background */
				.checkBox input:checked ~ .checkmark {
				  background-color: #fff;
				}

				/* Create the checkmark/indicator (hidden when not checked) */
				.checkmark:after {
				  content: "";
				  position: absolute;
				  display: none;
				}

				/* Show the checkmark when checked */
				.checkBox input:checked ~ .checkmark:after {
				  display: block;
				}

				/* Style the checkmark/indicator */
				.checkBox .checkmark:after {
				  left: 11px;
    			  top: 7px;
				  width: 5px;
				  height: 10px;
				  border: solid #2e2e2e;
				  border-width: 0 3px 3px 0;
				  -webkit-transform: rotate(45deg);
				  -ms-transform: rotate(45deg);
				  transform: rotate(45deg);
				}
				footer select.form-control option.bgColor{
				  	background:#000;
					}
				/*******************************************/
				
				/*the container must be positioned relative:*/
				.custom-select1 {
				  position: relative;
				}
				
				.custom-select1 select {
				  display: none; /*hide original SELECT element:*/
				}
				
				.select-selected {
				  background-color: #fff;
				}
				
				/*style the arrow inside the select element:*/
				.select-selected:after {
				  position: absolute;
				  content: "";
				  top: 14px;
				  right: 10px;
				  width: 0;
				  height: 0;
				  border: 6px solid transparent;
				  border-color:#815030 transparent transparent transparent;
				}
				
				/*point the arrow upwards when the select box is open (active):*/
				.select-selected.select-arrow-active:after {
				  border-color: transparent transparent #815030 transparent;
				  top: 7px;
				}
				
				/*style the items (options), including the selected item:*/
				.select-items div{
				  color: #815030;
				 }
				.select-items div,.select-selected {
				  padding: 8px 16px;
				  /*border: 1px solid transparent;
				  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
				  cursor: pointer;
				  user-select: none;
				}
				
				.select-selected{
					color:#815030;
					}
				
				/*style items (options):*/
				.select-items {
				  position: absolute;
				  background-color: #fff;
				  top: 100%;
				  left: 0;
				  right: 0;
				  z-index: 99;
				}
				
				/*hide the items when the select box is closed:*/
				.select-hide {
				  display: none;
				}
				
				.select-items div:hover, .select-items div.same-as-selected {
				  background-color: #e9b160;
				  color:#fff;
				}
/******************************************************/
				
						
				footer .form-control{
					font-size:14px; border-radius:0; color:#815030;}
					
				footer .form-control:focus{
					color:#815030; border-color:#656565;
					box-shadow: 0 0 0 0.15rem rgba(140, 140, 140, 0.25);
					}
				footer textarea.form-control{
					height:37px;
					}

				footer  .form-control::-webkit-input-placeholder{
					color:#815030;
					}
				footer  .form-control:-ms-input-placeholder{
					color:#815030;
					}
				footer  .form-control::placeholder{
					color:#815030;
					}
				
				footer select option:hover {
					background: rgba(0, 0, 0, 1);
					color: #fff;
					text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
				}
					
					
				.submitBtn{
					padding:7px 0px; width:127px; position:relative; text-align:center; border:1px solid #fff; font-size:14px; color:#fff; font-family:Gilroy-Medium; letter-spacing:1px;}
				.submitBtn:hover{border:1px solid #62402b;}
				.submitBtn span{
					position:relative; z-index:1;}

				.submitBtn:before{content: '';
					position: absolute;
					display: none;
					width: 0%;
					height: 100%;
					left: 0;
					top: 0;
					background-image: linear-gradient(90deg, #666666 0%, #2e2e2e 100%);
					z-index: 0;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
				}

				.submitBtn:hover:before{
					width:100%;
					}
				footer h2{
					color:#e9b160; text-transform:uppercase;
					}
				.address p{
					color:#fff; margin-bottom:5px;}
				.address a, footer p a{
					color:#fff;}
				footer a:hover, .quickLinks li a:hover{
					color:#e9b160;
					}
				.address .fa{
					color:#e9b160; margin-right:5px;
					}
				.quickLinks ul{
					padding-left:30px;}


				.quickLinks li{
					list-style-type:disc; color:#fff; margin-bottom:5px; font-size:14px;}
				.quickLinks li a{
					color:#fff;
				}
        /****************************************************************************************************/
		
		.innerPageData h4{
			text-transform:uppercase; font-size:20px; font-family:Calibri-Bold; letter-spacing:1px; margin-bottom:20px;
			} 
		.innerPageData p{
			margin-bottom:20px;}
		.whiteBox{
			padding:20px 15px;
			-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
			-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
			box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
			}
		.whiteBox h2{
			color:#a07628; text-transform:uppercase; font-family:Calibri-Bold; font-size:22px;
			}
            .whiteBox h2 span.smallText {
                text-transform:none;
            } 		
		.whiteBox .circle{
			width:50px; height:50px; border:1px solid #ffeac9; color:#a07628; font-size:22px; font-family:Calibri-Bold;
			margin:0 auto;}
		.fundTerms p{
			font-family:Calibri-Bold; text-transform:uppercase; margin-bottom:10px;}
		.fundTerms .row{
			margin-bottom:10px;}
		.fundTerms .row:last-child, .fundTerms .row:last-child p{
			margin-bottom:0px;}					
        /*.heading{
			border:1px solid #ffeac9; padding:5px; 
			-webkit-border-radius: 28px;
			-moz-border-radius: 28px;
			border-radius: 28px;
			text-transform:uppercase;
			color:#a07628;
			position:relative;
			padding-right:20px;
			margin-bottom:20px;
			}*/
		.heading{
			border-bottom:1px solid #a07628; }
		.heading, .heading_1{
			padding:10px 5px;
			font-size:18px; 
			text-transform:uppercase;
			color:#a07628;
			position:relative;
			padding-right:20px;
			margin-bottom:20px;
			cursor:pointer;
			}	
			
		.heading .circle, .heading_1 .circle{
			width:35px; height:35px; line-height:34px; text-align:center; background:#ffefd5; border:none; vertical-align:middle;}	
		.heading span.icon, .heading_1 span.icon{
			width:45px;
			}
		.heading span.icon.bigIco, .heading_1 span.icon.bigIco{
			width:55px;}	
		.heading span.icon, .heading strong.d-inline-block, .heading_1 span.icon, .heading_1 strong.d-inline-block{
			vertical-align:middle;
			}	
		.heading span.icon svg, .heading_1 span.icon svg{
			width:100%; height:auto; }	
		.heading span.icon svg, .heading span.icon svg path, .heading span.icon svg polygon{
			fill:#a07628;
			}
			
		.heading_1 span.icon svg, .heading_1 span.icon svg path, .heading_1 span.icon svg polygon{
			fill:#a07628;
			}
		.heading .fa, .heading_1 .fa{
			position:absolute; font-size:14px; right:5px; top:45%;
			}
		.content{
			padding:8px; display:none;}
		.content ul, ul.bullet{
			margin-left:0px; margin-bottom:20px;}
		.content ul li, ul.bullet li{
			margin-bottom:10px; padding-left:30px; font-family:Calibri; background:url(../images/bullet.png) no-repeat left 5px;
			}
            ul.bullet li {
                text-align:justify; letter-spacing:1px;
            }
		.brown-dashed-border{
			border-bottom:1px dashed #e9b160; margin-bottom:20px;}
		#banner{
			position:relative; /*text-align:center;*/}
		
		#banner img.img-fluid {
    	width: 100%;
    	max-width: inherit;
		}
		
		#banner h1{
			color:#fff; position:absolute; bottom:100px; left:50%; text-shadow: 2px 2px #000; width:100%; max-width:1140px;
			transform:translateX(-50%); text-transform:uppercase;
			}
		.innerPageData .listPara p{
			margin-bottom:5px;
			}
		.listPara p:before{
			content:'•';
			line-height:normal;
			position:relative;
			font-size:30px;
			color:#ad8946;
			display:block;
			width:30px;
			height:30px;
			overflow:hidden;
			margin:0px auto;}
			
		#loginForm .form-control{
			-moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px; margin-bottom:20px; border:1px solid #e9b160;}
		#loginForm .form-control.bigTextArea{
			min-height:200px;}
			
			
		#loginForm .form-control:focus{
			color: #815030;
    		border-color: #e9b160;
    		box-shadow: 0 0 0 0.15rem rgba(233, 177, 96, 0.25);
			}							
		#loginForm .submitBtn, #loginForm .changePassBtn{
			background:#242728; padding:10px 10px; border:none; /*border:1px solid #e9b160;*/ margin-top:5px;
			}
		#loginForm .changePassBtn{
			color:#fff;
			}	
		.logLinks{
			text-align:right;}
		.logLinks a{
			color:#e9b160;}
		.logLinks a:hover{
			color:#000;
			}
		.logLinks span{
			color:#e9b160;
			}
		.radioBtnField{
			display:none;}
		#searchData a{
			display:block; color:#a07628;}		
		/****************************************************************************************************/
		
.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radioContainer .checkmark, .radioContainer .checkmark_arrow {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #d8d8d8;
}

.radioContainer .checkmark{
	border-radius: 50%;
	}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark, .radioContainer:hover input ~ .checkmark_arrow{
  background-color: #e9b160;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark, .radioContainer input:checked ~ .checkmark_arrow {
  background-color: #e9b160;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after, .checkmark_arrow:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after, .radioContainer input:checked ~ .checkmark_arrow:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
 	top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
	border-radius: 50%;
	background: white;
}

.radioContainer .checkmark_arrow:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#thoughtLeadership .whiteBox{
	padding:20px 20px 60px 20px; position:relative;
	}
	
#thoughtLeadership .whiteBox .readMore{
	position:absolute; bottom:20px; left:20px;}	

#blog p{
	text-align:justify;}					
			
		/****************************************************************************************************/

		@media (min-width: 992px){
		  .slider,
		  .slide {
			/*height: 82vh;*/
			height:512px;
		  }
		}
		.slide {
		  position: relative;
		}
		.slide .slide__img {
		  width: 100%;
		  height: auto;
		  overflow: hidden;
		}
		@media (min-width: 992px) {
		  .slide .slide__img {
			position: absolute;
			top: 51%;
			left: 0;
			-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
		  }
		}
		.slide .slide__img img {
		  width: 100%;
		  height: auto;
		  opacity: 1 !important;
		  -webkit-animation-duration: 3s;
				  animation-duration: 3s;
		  transition: all 1s ease;
		}
		.slide .slide__content {
		  text-align: left;
		  position: absolute;
		  bottom: 13%;
		  left: 50%;
		  -webkit-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
		}
		.slide__content.container{
			-ms-transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
			transform:translateX(-50%);
			}
		.slide .slide__content--headings {
		  color: #000;
		  font-family: Calibri-Bold;
		  display:block;
		  text-align:center;
		  /*max-width:715px;*/
		}
		.slide .slide__content--headings h2, .slide .slide__content--headings p {
		  text-align:center;
		}
		.slide .slide__content--headings h2{
			 font-size: 2.8rem; text-transform:uppercase; position:relative; padding-bottom:15px; margin-bottom:36px;
			 color:#fff; text-shadow: 2px 2px #000;
			}
		.slide .slide__content--headings h2:after{
			content:'';
			display:none;
			position:absolute;
			width:73px;
			height:5px;
			background:#000;
			margin-top:0px;
			bottom:0px;
			}
		.slide .slide__content--headings h2:before{
			content:'';
			display:none;
			position:absolute;
			width:320px;
			height:1px;
			background:#000;
			margin-top:0px;
			bottom:2px;
			}
		.slide .slide__content--headings p{
			font-size:0.9rem; color:#000; font-family: Gilroy-Medium;
			}

		.slide .slide__content--headings .animated {
		  transition: all 0.5s ease;
		}
		.slider [data-animation-in] {
		  opacity: 0;
		  -webkit-animation-duration: 1.5s;
				  animation-duration: 1.5s;
		  transition: opacity 0.5s ease 0.3s;
		}
		.slick-dotted .slick-slider {
		  margin-bottom: 30px;
		}
		.slick-dots {
		  position: absolute;
		  bottom: 25px;
		  list-style: none;
		  display: block;
		  text-align: center;
		  /*padding: 0;*/
		  margin: 0;
		  /*padding-left:80px;*/
		  width: 100%;
		  left:50%;
		  -moz-transform:translateX(-50%);
		  -webkit-transform:translateX(-50%);
		  transform:translateX(-50%);
		}
		.slick-dots li {
		  position: relative;
		  display: inline-block;
		  margin: 0 5px;
		  padding: 0;
		  cursor: pointer;
		}
		.slick-dots li button {
		  border: 0;
		  display: block;
		  outline: none;
		  line-height: 0px;
		  font-size: 0px;
		  color: transparent;
		  padding: 5px;
		  cursor: pointer;
		  transition: all 0.3s ease;
		}
		.slick-dots li button:hover,
		.slick-dots li button:focus {
		  outline: none;
		}
		.simple-dots .slick-dots li {
		  width: 20px;
		  height: 20px;
		}
		.simple-dots .slick-dots li button {
		  border-radius: 50%;
		  background-color: white;
		  /*opacity: 0.25;*/
		  width: 20px;
		  height: 20px;
		}
		.simple-dots .slick-dots li button:hover,
		.simple-dots .slick-dots li button:focus {
		  opacity: 1;
		}
		.simple-dots .slick-dots li.slick-active button {
		  color: white;
		  opacity: 1;
		}
		.stick-dots .slick-dots li {
		  height: 3px;
		  /*width: 50px;*/
		}
		.stick-dots .slick-dots li button {
		  position: relative;
		  background-color: #bf842e;
		  /*opacity: 0.25;*/
		  width: 40px;
		  height: 2px;
		  padding: 0;
		}
		.stick-dots .slick-dots li button:hover,
		.stick-dots .slick-dots li button:focus {
		  opacity: 1;
		}
		.stick-dots .slick-dots li.slick-active button {
		  color: white;
		  background:#000;
		  /*opacity: 0.75;*/
		}
		.stick-dots .slick-dots li.slick-active button:hover,
		.stick-dots .slick-dots li.slick-active button:focus {
		  opacity: 1;
		}

		a.connectBtn{
			display:inline-block; -webkit-border-radius:25px; -moz-border-radius:25px; border-radius:25px; padding:4px 30px 4px 4px;
			text-transform:uppercase; color:#fff; font-size:16px; letter-spacing:1px; font-family:Calibri-Bold; border:1px solid #fff;
			}
		a.connectBtn img{
			display:inline-block; vertical-align:middle; margin-right:10px;}
		a.connectBtn:hover{
			border:1px solid #62402b;
			}
		.connectButton{
			padding:0px;
			position:absolute;
			z-index:9;
			left:50%;
			bottom:20px;
			-moz-transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
			transform:translateX(-50%);
			}	
		.brownBg{
			background-image: linear-gradient(90deg, #c0852f 0%, #e9b160 90%,  #e9b160 100%); overflow:hidden;
			}
		.grayBg{
			background-image: linear-gradient(90deg, #8a5432 0%, #61402b 100%);
			}
		/*.brownBg:hover{
			background-image: linear-gradient(90deg, #666666 0%, #2e2e2e 100%);
			}*/
		a.brownBg:before, .plusIcon.brownBg:before {
			content:'';
			position:absolute;
			display:none;
			width:0%;
			height:100%;
			left:0;
			top:0;
			background-image: linear-gradient(90deg, #666666 0%, #2e2e2e 100%);
			z-index:0;
			-moz-transition:all 0.3s ease-in-out;
			-ms-transition:all 0.3s ease-in-out;
			-webkit-transition:all 0.3s ease-in-out;
			transition:all 0.3s ease-in-out;
			}
		a.brownBg:hover:before, .plusIcon.brownBg:hover:before{
			width:100%;}
		a.brownBg span, .plusIcon.brownBg span{
			z-index:1; position:relative;}
		.numberData{
			position:absolute; left:50%; transform:translateX(-50%); bottom:18px; z-index:99; font-family:Calibri-Bold; font-size:18px;
			pointer-events:none; display:none;
			}
		.slider__counter {
		  position:absolute; left:50%; transform:translateX(-50%); bottom:18px; z-index:99; font-family:Calibri-Bold; font-size:18px;
			pointer-events:none;
		}

		.otherField{
			display: none;
		}
		.report{
			/*font-family:Calibri-Bold;*/ margin-bottom:10px; 
			}
		.report a{
			color:#000;
			}
		.report a:hover{
			color:#a07628;
			}		
		.report a .fa-file-pdf-o{
			color:#a07628; margin-right:10px;
			}
		#contact h4{
			border-bottom:1px solid #a07628; padding-bottom:15px; text-transform:uppercase;}
		#contact h5{
			font-size:18px; margin-bottom:10px;}	
		#contact h4 span, #contact h5 .fa{
			display:inline-block; vertical-align:baseline; min-width:30px;} 
			
		/* #contact a{ */
			/* color:#212529;} */
			
		#contact a:hover{
			color:#a07628;}
		.visibleMob.d-inline-block {
				display:none !important;}
		.fixPos {
			position: fixed;
			width: 100%;
			top: 0;
			z-index: 999;
			background: #fff;
			border-bottom:1px solid #dedede;
			-moz-transform: translateY(0px);
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
		}
		
	/*.fixPos #logo{
		opacity:0;
		alpha:filter(opacity=0);}*/
   
    /***********************************************************************/
    
    #back-to-top {
    position: fixed;
    right: 40px;
    top: auto;
    z-index: 10;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    } 							

    #back-to-top.affix {
    bottom: 25px;
    display:block;
    }

    #back-to-top .btn.brownBg {
    font-size: 18px;
    padding: 6px 15px;
    width: 44px;
    height: 44px;
    line-height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:1px solid #fff;
    }

        #back-to-top span {
            color:#fff;
        }

	/**********************************************************************/

		@media(max-width:992px){
			.slide .slide__content--headings h2{
				font-size:2rem;}
			.map{
				height:350px; margin-bottom:30px;}
            .offeringImg {
                text-align:center;
                }	
		}
		@media(max-width:768px){
            .offeringImg {
                text-align:left;
                }
			.visibleMob.d-inline-block {
				display:block !important;}
			.visibleDesk.d-inline-block {
				display:none !important;}
			.request_callback{
				width:200px;}	
			.connectButton{
			margin-top:15px;
			position:relative;
			z-index:inherit;
			left:inherit;
			bottom:inherit;
			-moz-transform:translateX(0%);
			-webkit-transform:translateX(0%);
			transform:translateX(0%);
			}
			
			#banner h1 br{
				display:none; }
			#banner h1{
				bottom:20px; font-size:24px; width:90%;}
			.whiteBox.p-4{
				padding:1rem !important;}
			 .mb_5{
			margin-bottom: 20px;
			}
			.processIcon p{
				text-align:center;}
			#alchemy_offering .whitePara p{
				color:#212529;
				}
			.grayBg.height_245.mb-5{
				display:none;}
			#alchemy_offering .whitePara{
				margin-bottom:3rem;}
			#our_process .rounded-circle{
				margin:0 auto 20px auto;
				}
			.processIcon{
				padding-top:10px;}
			.curveArrow{
				display:none;}
			#whyAlchemy .centerDiv{
				position:relative;
				left:inherit;
				top:inherit;
				-moz-transform:translate(0,0);
				-webkit-transform:translate(0,0);
				transform:translate(0,0);}
			.slide .slide__content--headings h2{
				font-size:1.5rem;}
			.slick-dots{
				position:relative; bottom:inherit;}
			.slick-dots{
				padding-left:15px;
				}
			.slider__counter{
				display:none;}
			}
		@media(max-width:600px){
            #logo{
                margin-bottom:10px;
                 }
			#banner h1{
				bottom:10px;}
			.slide .slide__content--headings h2{
				text-shadow:1px 1px 1px #000;
				}
			#our_process{
				background:#f8f8f8; padding:15px;}
			footer.pt-5{
				padding-top:0rem !important;
				}
			footer .quickLinks > div ul.mb-4:last-child{
				margin-bottom:0px !important;}
			.team img.img-fluid{
				max-width:200px;
				}
			.slide .slide__img img{
				width:auto; height:300px;}
			a.connectBtn img{
				width:30px;}
			.slide .slide__content--headings h2{
				font-size:1.2rem; margin-bottom:0px; padding-bottom:15px;}
			.slide .slide__content{
				bottom:8%;}
			.topNav .search input[type="text"]{
				position:absolute;
				    right: -92px;
    				top: 30px;
				}
			.topNav{
				background:none;
				}
			#logo{
				-moz-transition:all 0.3s ease-in-out;
				-webkit-transition:all 0.3s ease-in-out;
				transition:all 0.3s ease-in-out;}
			
			a.connectBtn{
				font-size:13px;}
			.slide .slide__content--headings h2:after, .slide .slide__content--headings h2:before{
				display:none;}
			a.connectBtn{
				padding:5px 10px;}
			}
			
		@media(max-width:576px){
            #logo .img-fluid{
				max-width:130px;
            }
			#personData img{
				max-width:250px; display:block; margin:0 auto 20px auto;}
			
			.logLinks{
				text-align:left; padding-top:15px;}	
			}	
		@media(max-width:480px){
			.heading span.icon{
				width:30px;}
			.slide .slide__content--headings h2{
				font-size:1.8rem;
				}
			}

footer p a.kwebmaker {color:#999;}
footer p a.kwebmaker:hover{color:#e9b160;}

.sitemap_wrp a {color:#222; font-size:16px;}

.registerhover:hover {
    text-decoration: underline;
}

.presentation {
padding:5px 5px;
			font-size:18px; 
			text-transform:uppercase;
			position:relative;
			padding-right:20px;
			margin-bottom:5px;
}