﻿<%@ Application Language="C#" %>
<%@ Import Namespace="System.Web.Routing" %>

<script RunAt="server">

    void Application_Start(object sender, EventArgs e)
    {
        // Code that runs on application startup
        RegisterRoutes(RouteTable.Routes);
    }

    void RegisterRoutes(RouteCollection routes)
    {
        routes.MapPageRoute("detail", "{slug}", "~/detailsPage.aspx",
            new RouteValueDictionary { { "id", "1" } },         // default value
            new RouteValueDictionary { { "id", @"^\d+$" } });   // constraint e.g. only numerals            
    }

    //private void RegisterRoutes()
    //{
    //    RouteTable.Routes.Add("Tutorial", new("Tutorial/{subject}/{AuthorID}", new RouteHandler(string.Format("~/CSharp.aspx"))));
    //}
    //static void RegisterRoutes()
    //{
    //    RouteTable.Routes.Add("Tutorial",new("Tutorial/{subject}/{AuthorID}", new RouteHandler(string.Format("~/CSharp.aspx"))));
    //}

    void Application_End(object sender, EventArgs e)
    {
        //  Code that runs on application shutdown

    }

    void Application_Error(object sender, EventArgs e)
    {
        // Code that runs when an unhandled error occurs

    }

    void Session_Start(object sender, EventArgs e)
    {
        // Code that runs when a new session is started

    }

    void Session_End(object sender, EventArgs e)
    {
        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.

    }

</script>
