﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Logout.aspx.cs" Inherits="Admin_Logout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Logging out ...</title>
</head>
<body>
    <form id="form1" runat="server">
    Logging out ...
    </form>
</body>
</html>
