
#verticalTab ul.resp-tabs-list{
	display:block;}

ul.resp-tabs-list{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
	border-collapse:collapse;
	}

#verticalTab ul.resp-tabs-list{
	display:block;}	

.resp-tabs-list li {
  font-size: 13px;
  /*display: inline-block;*/
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  text-transform:uppercase;
  text-align:center;
  font-size:18px;
  color:#bebab3;
  letter-spacing:1px;
  border:1px solid #bebab3;
  border-right:none;

  /*float: left;*/
}
#verticalTab .resp-tabs-list li{
	 border:1px solid #a07628;
	 color: #a07628;
	 font-size:14px;
	 margin-bottom:30px;
	 text-align:left;
	 width:85%;
	 -webkit-transition:all 0.3s ease-in-out;
	 -moz-transition:all 0.3s ease-in-out;
	 transition:all 0.3s ease-in-out;
	}
#verticalTab .resp-tabs-list li:hover{
	width:90%;
	}

.resp-tabs-list li:hover{
	color:#212529;
	}

.resp-tabs-list li:last-child{
	border-right:1px solid #bebab3;}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  /*padding: 15px;*/
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px;
  padding: 12px 14px 14px 14px;
}

#verticalTab .resp-tabs-list li.resp-tab-active{
	margin-bottom:30px;
	font-family:Calibri-Bold;
	width:90%;
	color:#fff;
	border:1px solid #fff;
	-webkit-box-shadow: 2px 2px 6px #e2e2e2;
			box-shadow: 2px 2px 6px #e2e2e2; 
	}

.resp-tab-active {
  border-bottom: none;
  }
.resp-tabs-list li.resp-tab-active{
	background-color: #a07628;
  color:#fff;
	} 
.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content {/* border: 1px solid #c1c1c1;*/ }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 13px 30px 13px 15px;
  /*margin: 0;*/
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  /*border: 1px solid #c1c1c1;*/
  float: right;
  width: 70%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  background-image: linear-gradient(90deg, #c0852f 0%, #e9b160 90%, #e9b160 100%);
  position: relative;
  z-index: 1;
  margin-bottom:30px;
}

.resp-vtabs li.resp-tab-active:before{
	content:'';
	display:block;
	position:absolute;
	width:20px;
	height:17px;
	background:url(../images/arrow.png) no-repeat;
	right:15px;
	top:17px;
	}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background-image: linear-gradient(90deg, #8a5432 0%, #61402b 100%); color:#fff;}

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

.brownBorder{
	border:1px solid #e6ddd1; padding:12px 14px;}
.team a h5{
	font-family:Gilroy-Bold; font-size:1rem; color:#242728;
	}
.team a p{
	font-size:13px; color:#242728;}
@media only screen and (min-width: 769px) {	
.team .brownBorder:hover{
	box-shadow:5px 5px 8px #c4c7c8;
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	}			
}
@media only screen and (max-width: 768px) {
#verticalTab ul.resp-tabs-list{
	display:none;
	}	
.resp-tab-content-active{
    display: block;
    border-bottom: 1px solid #c1c1c1;
}

.resp-tabs-container .resp-tab-content-active:last-child{
	border-bottom:none;}

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; padding:15px;}

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
