		header li{
			display:inline-block; margin:0px 10px; letter-spacing:1px;
			}
		header ul ul{
			background:#e7e7e7 url(../images/white_fire.png) no-repeat right center;
			background-size:auto 90%; z-index:99;}	
		header li li{
			margin:0px; display:block; 
			}	
		header li a{
			display:block; text-transform:uppercase; color:#242728;
			}
		header li li a{
			padding:10px 12px 10px 25px; text-transform:capitalize; position:relative;
			-moz-transition:all 0.3s ease-in-out;
			-webkit-transition:all 0.3s ease-in-out;
			transition:all 0.3s ease-in-out;
			}
		header li li a:hover{
			background:#f5f5f5;}	
		header li li a:after{
			content:''; display:block; position:absolute; width:5px; height:1px; background:#000; left:12px; top:20px;}
		nav{
			margin:0px -10px;
			}
		.menu-btn{
			display:none; position:relative;z-index:999999;}
		.pushy-content	li{
			position:relative; text-align:left;
			}		
		.pushy-content a:hover{
			color:#a07628;
			}
		.pushy-content > ul > li > a:after{
			content:'';
			position:absolute;
			bottom:0px;
			width:0%;
			left:0;
			display:block;
			height:1px;
			background:#a1782b;
			-moz-transition:all 0.3s ease-in-out;
			-webkit-transition:all 0.3s ease-in-out;
			transition:all 0.3s ease-in-out;
			}
		.pushy-content > ul > li > a:hover:after{
			width:100%;
			
			}			
		@media(min-width:993px){
		header li ul{
			display:none;
			}
		nav{
			text-align:right;
			}
			
		.pushy-submenu ul{
			position:absolute; width:300px; top:25px; left:0px; z-index:100;
			}			
		}	


		@media(max-width:992px){
		.pushy-content > ul > li > a:hover:after{
			width:0;}
		
		header li{
			display:block;
			}	
		.menu-btn{
			display:inline-block; padding:0px; /*background:#242728; border:1px solid #fff;*/ color:#fff; height: 35px;
    		width: 40px; /*right:15px;*/
			}
		.menu-btn:focus{
			outline:none;
			}

		.menu-btn span {
			display: block;
			position: absolute;
			height: 3px;
			width: 28px;
			background: #00598e;
			opacity: 1;
			left: 5px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}
		.menu-btn span:nth-child(1) {top:6px;}
		.menu-btn.open {    
			/*right: 15px;*/
			top: -41px;
			background: #004975;
			padding: 5px;
			width: 39px;
			height: 39px;
			display: block;}
		.menu-btn.open span {background:#fff; width:35px;}
		.menu-btn span:nth-child(2), .menu-btn span:nth-child(3) {top: 16px; }
		
		.menu-btn.open span:nth-child(2), .menu-btn.open span:nth-child(3) {     top: 17px;
    left: 2px;}
		
		.menu-btn span:nth-child(4) {top:26px;/* width: 15px; *//* left: 20px; */}
		.menu-btn.open span:nth-child(1) {top:10px; width:0%; left:50%;}
		.menu-btn.open span:nth-child(2) {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);/* width: 25px; */}
		.menu-btn.open span:nth-child(3) {webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);/* width: 25px; */}
		.menu-btn.open span:nth-child(4) {top:10px; width:0%; left:50%;}

/**************************************/			
		.pushy{
		  position: fixed;
		  width: 200px;
		  height: 100%;
		  top: 0;
		  z-index: 9999;
		  background: #191918;
		  overflow: auto;
		  -webkit-overflow-scrolling: touch;
		  /* enables momentum scrolling in iOS overflow elements */
		}
		.pushy a {
		  display: block;
		  color: #b3b3b1;
		  padding: 15px 30px;
		  text-decoration: none;
		}
		.pushy a:hover {
		  color: #FFF;
		}
		.pushy ul:first-child {
		  margin-top: 10px;
		}
		.pushy.pushy-left {
		  left: 0;
		}
		.pushy.pushy-right {
		  right: 0;
		}
		
		.pushy-content {
		  visibility: hidden;
		}
		
		/* Menu Movement */
		.pushy-left {
		  -webkit-transform: translate3d(-200px, 0, 0);
		  -ms-transform: translate3d(-200px, 0, 0);
		  transform: translate3d(-200px, 0, 0);
		}
		
		.pushy-open-left #container,
		.pushy-open-left .push {
		  -webkit-transform: translate3d(200px, 0, 0);
		  -ms-transform: translate3d(200px, 0, 0);
		  transform: translate3d(200px, 0, 0);
		}
		
		.pushy-right {
		  -webkit-transform: translate3d(200px, 0, 0);
		  -ms-transform: translate3d(200px, 0, 0);
		  transform: translate3d(200px, 0, 0);
		}
		
		.pushy-open-right #container,
		.pushy-open-right .push {
		  -webkit-transform: translate3d(-200px, 0, 0);
		  -ms-transform: translate3d(-200px, 0, 0);
		  transform: translate3d(-200px, 0, 0);
		}
		
		.pushy-open-left .pushy,
		.pushy-open-right .pushy {
		  width:100%;	
		  -webkit-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
		}
		.pushy-open-left .pushy-content,
		.pushy-open-right .pushy-content {
		  visibility: visible;
		}
		
		/* Menu Transitions */
		#container,
		.pushy,
		.push {
		  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
		}
		
		.pushy-content {
		  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
		}
		
		/* Site Overlay */
		.site-overlay {
		  display: none;
		}
		
		.pushy-open-left .site-overlay,
		.pushy-open-right .site-overlay {
		  display: block;
		  position: fixed;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  z-index: 9998;
		  background-color: rgba(0, 0, 0, 0.5);
		  -webkit-animation: fade 500ms;
		  animation: fade 500ms;
		}
		
		@keyframes fade {
		  0% {
			opacity: 0;
		  }
		  100% {
			opacity: 1;
		  }
		}
		@-webkit-keyframes fade {
		  0% {
			opacity: 0;
		  }
		  100% {
			opacity: 1;
		  }
		}
		/* Submenu Appearance */
		.pushy .pushy-submenu ul a{
			color:#242728;
		 }
		.pushy-submenu ul {
		  padding-left: 15px;
		  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
		}
		.pushy-submenu ul .pushy-link {
		  transition: opacity 0.2s ease-in-out;
		}
		.pushy-submenu button {
		  width: 100%;
		  color: #b3b3b1;
		  padding: 15px 30px;
		  text-align: left;
		  background: transparent;
		  border: 0;
		}
		.pushy-submenu button:hover {
		  color: #FFF;
		}
		.pushy-submenu > a,
		.pushy-submenu > button {
		  position: relative;
		}
		.pushy-submenu > a::after,
		.pushy-submenu > button::after {
		  content: '';
		  display: block;
		  height: 11px;
		  width: 8px;
		  position: absolute;
		  /*top: 50%;
		  right: 15px;
		  background: url("../img/arrow.svg") no-repeat;*/
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		  transition: transform 0.2s;
		}
		
		/* Submenu Movement */
		.pushy-submenu-closed ul {
		  max-height: 0;
		  overflow: hidden;
		  visibility: hidden;
		}
		.pushy-submenu-closed .pushy-link {
		  opacity: 0;
		}
		
		.pushy-submenu-open {
		  /* Submenu Icon */
		}
		.pushy-submenu-open ul {
		  max-height: 1000px;
		  visibility: visible;
		}
		.pushy-submenu-open .pushy-link {
		  opacity: 1;
		}
		.pushy-submenu-open button::after {
		  -webkit-transform: translateY(-50%) rotate(90deg);
		  -ms-transform: translateY(-50%) rotate(90deg);
		  transform: translateY(-50%) rotate(90deg);
		}
		
		/*# sourceMappingURL=pushy.css.map */
		}